  <footer>
    <p><img class="icon" src="/static/images/rss24.png"> <a href="/rss.xml">Subscribe (RSS)</a> &mdash; Generated with <a href="{{generatorurl}}">{{generatorname}}</a></p>
  </footer>
</body>
</html>
