  <footer>
    <p>Generated with <a href="{{generatorurl}}">{{generatorname}}</a></p>
  </footer>
  <script id="dsq-count-scr" src="//divcompo-2020.disqus.com/count.js" async></script>
</body>
</html>
