{{>header}}

  <section>
    {{{ contents }}}
  </section>

  <h4>Último artículo publicado</h4>
  {{#with articles.[0] }}
    <article>    
      <h2>{{ title }}</h2>
      <time>{{ dateFormat date "D MMM YYYY, H:mm" }}</time>
      {{{ contents }}}
    </article>
  {{/with}}

  <h4>Artículos anteriores</h4>
  <ul class="recent">
    {{#each articles }}
      {{#if @index}}
        <li>
          <a class="title" href="{{ path }}">{{ title }}</a> &mdash;
          <span class="time">{{ dateFormat date "D MMM YYYY, H:mm" }}</span>
        </li>
      {{/if}}
    {{/each}}
    </ul>
    
{{>footer}}